

  <h1 class="login-form-title">login</h1>

  <form class="signup-form" action="/todo/login" method="post">
    <label for="">email :</label>
    <input type="text" name="email">
    <label for="">password :</label>
    <input type="password" name="password">
    <div class="login-div"><button class="login-btn">login</button></div>
  </form>

