

  <h1 class="signup-form-title">signup</h1>

  <form class="signup-form" action="/todo/signup" method="post">
    <label for="">username :</label>
    <input class="username-inputbox" type="text" name="username">
    <label for="">email :</label>
    <input class="email-inputbox" type="text" name="email">
    <label for="">password :</label>
    <input class="password-inputbox" type="password" name="password">
    <div class="submit-div"><button class="submit-btn">submit</button></div>
  </form>
  <br>
